<p style="color: green"><%= notice %></p>

<% content_for :title, "Friends" %>

<h1 class="mb-3">Friends List</h1>

<div id="friends">
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Insta</th>
      <th scope="col" colspan='3'></th>

    </tr>
  </thead>
  <tbody>
  <% @friends.each do |friend| %>
  <% if friend.user == current_user %>
    <%= render friend %>
  <% end %>
  <% end %>
  </tbody>
</table>
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-dark" %>
